@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oi, eu sou o Guto. Tudo bem ?</h1>
    <h2> <p>Quer assistir o Ultmo aniversario do amor da minha vida ? Por favor clique aqui <a href="https://www.youtube.com/watch?v=saQGaV6xaPY&list=PLfaVSe3LFXkFdX689mJCSE6fFsvDSgP4K">Giulia Rocha</a>.</p></h2>
</div>

